<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
</div>
<hr>
<nav>
<div class="pure-menu pure-menu-horizontal">
  <a routerLink="/" class="pure-menu-heading pure-menu-link">Home</a>
  <ul class="pure-menu-list">
      <li class="pure-menu-item"><a routerLink="/dashboard" class="pure-menu-link">Dashboard</a></li>
      <li class="pure-menu-item"><a routerLink="/heroes" class="pure-menu-link">Heroes</a></li>
      <li class="pure-menu-item">
          <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
      </li>
      

  </ul>
</div>

<!-- Show the HeroesComponent view -->
<!-- Remember that app-heroes is the element selector for the HeroesComponent. -->
<!-- <app-heroes></app-heroes> -->

<router-outlet></router-outlet>

<app-messages></app-messages>